{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    
    <title>{% block title %} Profile page {% endblock %}</title>
</head>
<body>
    <div class="header">
        <a href="" class="logo"> {% block page_name %}Home page{% endblock %}</a>

       
        <div class="header-right">
            <a href="../../">Home</a>
          {% if request.user.is_authenticated %}
            <a class="active" href="{% url 'user:show_profile' user.id %}">Profile</a>
            <a href="{% url 'user:logout'%}?next={{request.path}}">Logout</a>
          {% else %}
            <a href="{% url 'user:sign_in'%}">Log in</a>
            <a href="{% url 'user:register'%}">Register</a>
          {% endif %}
        </div>
      </div>
    
    <div class="profile_content">
      <div class="container">
            {% block page_info %}
            {% endblock %}
      </div>       
    </div>
    <!-- <div class="friend_list">
        <div class="list">
          
              {% if friend_requests %}
                <div class="requests">
                    <div class="title">
                      <label for="title">Friend requests</label>
                    </div>
                      {% if profile.profile_id == request.user.id %}
                        <ul>
                          {% for user_id in friend_requests %}
                            <li><a  href="{% url 'user:show_profile' user_id %}">view profile</a></li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                </div>
              {% endif %}
          
              {% if friend_list %}
                <div class="friends">
                  <div class="title">
                    <label for="title">Friend list</label>
                  </div>
                  <ul>
                    {% for profile in friend_list %}
                      <li><a  href="{% url 'user:show_profile' profile.user.id %}">
                        {% if profile.first_name and profile.second_name %}
                        {{profile.first_name}} {{profile.second_name}}
                        {% else %}
                        {{profile.user.email}}
                        {% endif %}
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
        </div> -->
    </div>
</body>
</html>